amqp
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
autobahn
Automat
Babel
beautifulsoup4
billiard
bleach
celery
certifi
cffi
channels
channels-redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
comm
constantly
crispy-bootstrap5
cron-descriptor
cryptography
daphne
debugpy
decorator
defusedxml
distlib
dj-database-url
Django
django-allauth
django-autoslug
django-autoslug-field
django-celery-beat
django-cleanup
django-cors-headers
django-crispy-forms
django-email
django-environ
django-extensions
django-filter
django-htmx
django-timezone-field
djangorestframework
djangorestframework-simplejwt
EasyProcess
entrypoint2
env
exceptiongroup
executing
fastjsonschema
filelock
fqdn
h11
httpcore
httpx
hyperlink
idna
incremental
iniconfig
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kombu
MarkupSafe
matplotlib-inline
mistune
MouseInfo
msgpack
mss
nbclient
nbconvert
nbformat
nest-asyncio
ninja
notebook
notebook_shim
overrides
packaging
pandocfilters
parso
pillow
pip-chill
pipenv
platformdirs
pluggy
prometheus_client
prompt_toolkit
psutil
psycopg2
pure-eval
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
PyGetWindow
Pygments
PyJWT
PyMsgBox
pyOpenSSL
pyperclip
PyRect
pyscreenshot
PyScreeze
pytest
pytest-asyncio
python-crontab
python-dateutil
python-json-logger
pytweening
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
redis
referencing
requests
rest-framework-simplejwt
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
service-identity
six
sniffio
soupsieve
sqlparse
sslcommerz-lib
stack-data
terminado
tinycss2
tomli
tornado
traitlets
Twisted
txaio
typed-ast
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
uvicorn
vine
virtualenv
wcwidth
webcolors
webencodings
websocket-client
whitenoise
widgetsnbextension
zope.interface
